.App {
  text-align: center;
  
}

.App.dark {
  background-color: #111414;
  }

.navbar {
  display: flex;
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%);
}
.navbar--title {
  z-index: 10;
  padding: 0px 15px;
  font-weight: 800;
  font-size: 2.5em;
  margin: auto 0;
  color: mediumseagreen;
}

.logo {
  height: 8vmin;
  pointer-events: none;
  padding: 3px;
}


@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  margin: 40px auto;
  display: inline-grid;
  max-width: 600px;
  width: 100%;
}



button {
  margin: 10px;
  background-color: mediumseagreen;
  padding: 10px;
  font-size: 20px;
    border-radius: 7px;
    border: 2px solid mediumseagreen;
    color: white;
}
.RandomButtom {
  margin: 10px 10px 100px;

}

.exportButtom {
  margin-top: 100px;
}

button:hover {
  background-color: darkcyan;
  border: 2px solid darkcyan;
}

.inputs {
  display: flex;
}

input {
  width: 100%;
  font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    border: 2px solid mediumseagreen;
    color: mediumseagreen;
    margin: 10px;
}
input:focus {
  border: 2px solid darkcyan !important;
  outline: none;
}

.randompic {
  width: 100%;
}

.text {
  width: 100%;
  font-size: 55px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-weight: 900;
  margin: 10px auto;
  z-index: 50;
  position: sticky;
}

.upperText {
  margin-bottom: -85px;
}

.bottomText {
margin-top: -85px;

}
.meme-container.dark .text {
  color: white;
  -webkit-text-stroke-color: black;
}  

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: auto 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkslategray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: mediumseagreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}