.App {
  text-align: center;
}

.navbar {
  display: flex;
  margin: auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 8%);
}
.navbar--title {
  z-index: 10;
  padding: 0px 15px;
  font-weight: 800;
  font-size: 2.5em;
  margin: auto 0;
  color: mediumseagreen;
}

.logo {
  height: 8vmin;
  pointer-events: none;
  padding: 3px;
}


@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  margin: 40px auto;
}

input {
  font-size: 20px;
    border-radius: 7px;
    padding: 10px;
    border: 2px solid mediumseagreen;
    color: mediumseagreen;
    margin: 10px;
}